@mixin table-title {
  font-family: Helvetica;
  font-weight: 600;
  font-size: 18px;
  color: #193a77;
  letter-spacing: 0;
  line-height: 24px;
}
@mixin row-text {
  font-family: Helvetica;
  font-size: 14px;
  color: #09152b;
  letter-spacing: 0;
  line-height: 24px;
}
@mixin table-units {
  font-family: Helvetica;
  font-size: 13px;
  color: #000000;
  letter-spacing: 0;
  line-height: 24px;
}
@mixin table-units-in-input {
  font-family: Helvetica;
  font-size: 14px;
  color: rgba(9, 21, 43, 0.52);
  letter-spacing: 0;
  line-height: 24px;
}
