body {
  height: 100vh;

  &>div {
    height: 100%;
  }
}


$header-height: #7d7098;


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root {
  --distanceFromTopList: 215px !important;
  --distanceFromTopDoc: 145px !important;
}