---
to: src/screens/<%= h.changeCase.lcFirst(name) %>Sales/<%= h.changeCase.lcFirst(name) %>Sales.js
---
import React from 'react';
import { useTranslation, i18n } from 'src/i18n';
import { LayoutProvider } from 'src/components/DashboardLayout/LayoutContext';
import DashboardLayout from 'src/components/DashboardLayout';
import DashboardSideBar from 'src/components/DashboardSideBar';
import { Layout, Breadcrumb } from 'antd';
import Router from 'next/router';

import './likeAdminStyle.scss';

function dashboardSales() {
  const { t } = useTranslation(['common', 'dashboard']);
  return (
    <LayoutProvider>
      <DashboardLayout
        renderMain={() => (
          <Layout className={`ra-adminLayout dir-${i18n.dir()}`} dir={i18n.dir()}>
            <Breadcrumb className="ra-breadcrumb">
              <Breadcrumb.Item onClick={() => Router.push('/')}> home </Breadcrumb.Item>
              <Breadcrumb.Item> sales </Breadcrumb.Item>
            </Breadcrumb>
            <Layout.Content className="ra-adminLayout-list-wrapper">
              <div className="ra-tableWrapper">
                <div className="ra-tableHeader">
                    <h1>{t('screenName')}</h1>
                </div>
                <div className="ra-tableContent">
                    Need more dashboard screen?
                    just duplicate me
                </div>
              </div>
            </Layout.Content>
          </Layout>
        )}
        renderSidebarBody={DashboardSideBar}
      />
    </LayoutProvider>
  );
}

export default dashboardSales;
