---
to: pages/<%= h.changeCase.lcFirst(name) %>/index.js
---
import React from 'react';
import Dashboard from 'src/screens/<%= h.changeCase.lcFirst(name) %>';

import Page from 'src/components/Page';
import Head from 'next/head';

export default Page({
  loginRequired: true,
  logoutRequired: false,
  adminRequired: false,
  i18n: ['<%= h.changeCase.lcFirst(name) %>', 'common'],
  showSwitchLangBtn: true,
  displayName: 'DashboardPage',
})(() => (
  <React.Fragment>
    <Head>
      <title>Dashboard</title>
    </Head>
    <Dashboard />
  </React.Fragment>
));
